/* STYLE FOR TWEET */
.tweet-container {
  border: solid;
  padding: 10px;
  margin-bottom: 25px;
  margin-top: 30px;;
}

.tweet-container header{
  background-color: #f4f1ec;
  margin-bottom: 6%;
  display: flex;
  justify-content: space-between;
}

.tweet-container textarea{
  border-bottom: 3px solid #545149;
  font-family: 'Source Sans Pro', 'sans-serif';
  font-weight: 300;
  color: #545149;
}

.tweet-container h6 {
  margin: 0px;
}

.tweet-container p{
  float: right;
}

.tweet-container span {
  opacity: 0;
  color: #9ab7d0;
}

article:hover {
  box-shadow: 10px 10px 5px #9ab7d0;
}
article:hover span {
  opacity: 1;
}

.tweet-container img{
  margin-right: 6px;
}

footer {
  display: flex;
  justify-content: space-between;
}

article:hover .article-icons {
  opacity: 1;
}

.article-icons {
  opacity: 0;
  font-size: large;
  color: #174061;
}