.header {
  height: 400px;
  width: 100%;
  background-color: #eda36b;
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
  text-align: center;
  position: relative;
  margin-bottom: 30px;
}
