.header-image {
  height: 400px;
  width: 90%;
  background-color: #eda36b;
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
  text-align: center;
  padding: 35px;
  margin-bottom: 30px;
}


 @media only screen and (max-width: 1024px) {
   .header-image {
    width: 100%;
    margin: 0px;
    padding-top: 0px;
   }
 } 

