nav {
  background-color: #4056A1;
  font-family: 'Bungee';
  color: #FFFFFF;
  position: fixed;
  height: 120px;
  width: 100%;
  z-index: 1;
  position: fixed;
  top: 0em;

}

.navbar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
}

.nav {
  font-family: 'Source Sans Pro';
}

#compose {
  color: #e31735;
}

.compose-button {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#compose {
  opacity: 1;
  animation: fade 1.5s linear;
  animation-iteration-count: infinite;
}


@keyframes fade {
  0%,100% { opacity: 0 }
  50% { opacity: 1 }
}

 /* 
  Media Querries 
*/

@media only screen and (max-width: 1024px) {
  nav {
   background-color: #eda36b;
   background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
   position: absolute;
   color: #bd643e;
  }
  .navbar {
    align-items: flex-start;
  }
}

