
.new-tweet {
  display: none;
}

.submit-tweet {
  font-family: 'Bungee';
}

input[type=submit] {
  background-color: #4056A1;
  color: #FFFFFF;
  margin-bottom: 5%;
}
.counter {
  float: right;
}

.counter-default {
  color: #545149;
} 
.counter-error {
  color:red;
}


textarea[name=text] {
  width: 100%;
  background-color: #f4f1ec;
  border: none;
  border-bottom: 3px solid #545149;
  outline: 0px;
  resize: none;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', 'sans-serif';
  font-weight: 600;
  margin-bottom: 18px;
}

.new-tweet h2 {
  text-align: center;
}

 /* STYLE FOR ERROR MESSAGE */

 .error-message {

  /* image: url('https://i.imgur.com/GnyDvKN.png'); */
  margin-top: 20px;
  color: #D8000C;
  background-color: #ead6d6;
  border: 2px solid;
  padding: 10px;
  display: none;
}
/* .fa {
  float: left;
} */

